body {
    background-color: black;
}

#content {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
}

#heading {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Didact Gothic', sans-serif;
    margin-top: -15vh;
    width: 100%;
    opacity: 0.8;
    transition: color .5s;
}

#wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    line-height: 100px;
}

#key65 {
    transition-timing-function: ease-out;
    border: 1px solid #E53935;
    color: #E53935;
}

#key65a {
    transition-timing-function: ease-out;
    border: 1px solid #E53935;
    background-color: rgba(168, 28, 28, 0.2);
    transform: scale(1.1);
    color: #E53935;
}

#key68 {
    transition-timing-function: ease-out;
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

#key68a {
    transition-timing-function: ease-out;
    border: 1px solid #4CAF50;
    background-color: rgba(76, 175, 80, 0.2);
    transform: scale(1.1);
    color: #4CAF50;
}

#key83 {
    transition-timing-function: ease-out;
    border: 1px solid #9C27B0;
    color: #9C27B0;
}

#key83a {
    transition-timing-function: ease-out;
    border: 1px solid #9C27B0;
    background-color: rgba(74, 20, 140, 0.2);
    transform: scale(1.1);
    color: #9C27B0;
}

#key32 {
    transition-timing-function: ease-out;
    border: 1px solid #FFC107;
    color: #FFC107;
    width: 300px;
}

#key32a {
    transition-timing-function: ease-out;
    border: 1px solid #FFC107;
    background-color: rgba(255, 196, 0, 0.2);
    transform: scale(1.1);
    color: #FFC107;
    width: 300px;
}

#key74 {
    transition-timing-function: ease-out;
    border: 1px solid #E91E63;
    color: #E91E63;
}

#key74a {
    transition-timing-function: ease-out;
    border: 1px solid #E91E63;
    background-color: rgba(194, 24, 91, 0.2);
    transform: scale(1.1);
    color: #E91E63;
}

#key75 {
    transition-timing-function: ease-out;
    border: 1px solid #2196F3;
    color: #2196F3;
}

#key75a {
    transition-timing-function: ease-out;
    border: 1px solid #2196F3;
    background-color: rgba(25, 118, 210, 0.2);
    transform: scale(1.1);
    color: #2196F3;
}

#key76 {
    transition-timing-function: ease-out;
    border: 1px solid #009688;
    color: #009688;
}

#key76a {
    transition-timing-function: ease-out;
    border: 1px solid #009688;
    background-color: rgba(0, 121, 107, 0.2);
    transform: scale(1.1);
    color: #009688;
}
